dashboard {
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 0.15fr 2fr 2fr 0.15fr;
    grid-template-areas: "aside header header" "aside main main" "analitica analitica analitica" "footer footer footer";
    padding: 0%;
    column-gap: 0%;
    row-gap: 0%;
    background-color: cornsilk;
}

header {
    grid-area: header;
    text-align: center;
    background-color: maroon;
    color: cornsilk;
}

aside {
    grid-area: aside;
    text-align: center;
    padding: 4%;
}

main {
    grid-area: main;
    text-align: center;
    margin-bottom: 5%;
    padding: 2%;
}

meses {
    display: grid;
    width: auto;
    height: 100%;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-areas: "enero febrero marzo abril" "mayo junio julio agosto" "septiembre octubre noviembre diciembre";
    padding: 0%;
    column-gap: 1%;
    row-gap: 1%;
}

enero {
    grid-area: enero;
    text-align: center;
    border-style: ridge;
    margin-top: 2%;
    margin-bottom: 2%;
}

febrero {
    grid-area: febrero;
    text-align: center;
    border-style: ridge;
    margin-top: 2%;
    margin-bottom: 2%;
}

marzo {
    grid-area: marzo;
    text-align: center;
    border-style: ridge;
    margin-top: 2%;
    margin-bottom: 2%;
}

abril {
    grid-area: abril;
    text-align: center;
    border-style: ridge;
    margin-top: 2%;
    margin-bottom: 2%;
}

mayo {
    grid-area: mayo;
    text-align: center;
    border-style: ridge;
    margin-top: 2%;
    margin-bottom: 2%;
}

junio {
    grid-area: junio;
    text-align: center;
    border-style: ridge;
    margin-top: 2%;
    margin-bottom: 2%;
}

julio {
    grid-area: julio;
    text-align: center;
    border-style: ridge;
    margin-top: 2%;
    margin-bottom: 2%;
}

agosto {
    grid-area: agosto;
    text-align: center;
    border-style: ridge;
    margin-top: 2%;
    margin-bottom: 2%;
}

septiembre {
    grid-area: septiembre;
    text-align: center;
    border-style: ridge;
    margin-top: 2%;
    margin-bottom: 2%;
}

octubre {
    grid-area: octubre;
    text-align: center;
    border-style: ridge;
    margin-top: 2%;
    margin-bottom: 2%;
}

noviembre {
    grid-area: noviembre;
    text-align: center;
    border-style: ridge;
    margin-top: 2%;
    margin-bottom: 2%;
}

diciembre {
    grid-area: diciembre;
    text-align: center;
    border-style: ridge;
    margin-top: 2%;
    margin-bottom: 2%;
}

.scroll {
    height: 18rem;
    overflow: auto;
    white-space: nowrap;
}

.title-month {
    position: static;
    font-weight: bold;
    font-size: 110%;
    background-color: darkolivegreen;
    color: cornsilk;
}

hr {
    display: block;
    margin: auto;
    margin-top: 0%;
    margin-bottom: 2%;
    height: 100%;
    width: 90%;
    background-color: #000;
}

analitica {
    grid-area: analitica;
    text-align: center;
    background-color: rebeccapurple;
}

footer {
    grid-area: footer;
    text-align: center;
    background-color: slategrey;
}

.ano {
    margin-top: 2%;
}

.welcome {
    font-size: 120%;
    margin-top: 8%;
    margin-bottom: 10%;
}

.fotoUsuario {
    width: 45%;
    border-radius: 50%;
    margin-bottom: 15%;
}

.creaUnaMeta {
    margin-bottom: 5%;
}

.cita {
    font-style: italic;
}

#cerrarSesion {
    width: 10%;
    display: block;
    margin: auto;
    position: static;
    float: right;
    background-color: darkred;
    border-style: none;
    margin-right: 1%;
    margin-bottom: 1%;
}

#cerrarSesion:hover {
    background-color: firebrick;
}


/* Formulario */

#metaForm {
    font-size: 66%;
    padding: 1%;
    padding-top: 7%;
    margin-top: 0%;
    margin-bottom: 20%;
    margin-left: 7%;
}

.form-select {
    font-size: 120%;
}

.form-control::placeholder {
    font-size: 90%;
    text-align: left;
}

#style-for {
    font-size: 120%;
}

#enviarMeta {
    display: block;
    margin: auto;
    width: 60%;
    font-size: 100%;
    background-color: darkred;
    border-style: none;
}

#enviarMeta:hover {
    background-color: firebrick;
}

#card-individual {
    height: 18rem;
    max-width: 300px;
    border-style: ridge;
    padding: 5%;
    margin-bottom: 3%;
}

.card-title {
    font-size: 90%;
    text-align: right;
    margin-right: 0.5%;
}

.btn-edit {
    width: 27%;
    font-size: 65%;
    float: right;
    text-align: center;
    margin-top: 5%;
    margin-right: 7%;
    margin-bottom: 0%;
    background-color: darkolivegreen;
    border-style: none;
}

.btn-edit:hover {
    background-color: olivedrab;
}

.btn-delete {
    width: 25%;
    font-size: 60%;
    border-style: solid;
    border-color: darkolivegreen;
    float: left;
    text-align: center;
    color: darkolivegreen;
    margin-top: 5%;
    margin-left: 7%;
    margin-bottom: 0%;
}

.btn-delete:hover {
    color: #FFF;
    background-color: olivedrab;
}